html {background: #F7F7F7 }
body * { font-family: 'Open Sans', sans-serif; font-size:12px; color:#000000DE;}

.hide { display:none;}
.App {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.App > * {
    flex: 1 100%;
  }

/* Header */
header {background-color:#2196F3;  padding:0 72px; height:56px;}
header h1{color:#fff; font-size:20px}

/* Form Name section */
#form-name-section {border-bottom:1px solid #D5D5D5; line-height: 96px; background-color: #fff; padding:0 72px}
#form-name { font-size:24px; border:0 none; margin:0 }

/* Edit mode */
.field {background:#fff; border:1px solid #D5D5D5; padding:20px}
.field input {border:0 none}
.add-button button {border:0 none; background:none; font-size:20px; position: absolute; right:0}

.content {
    flex: 1;
    padding:0;
}

.section {margin: 0 auto; width:80%;}
.display-mode {
   position: relative;
}

.error {
    color: red;
    position:absolute;
    right:0;
}