html {background: #F7F7F7 }
body * { font-family: 'Open Sans', sans-serif; font-size:12px; color:#000000DE;}

.icon {font-size:16px;}
.field input, .field select {border:1px solid #D5D5D5; padding:5px}
.field select {width:200px}
label {font-weight:bold}

.hide { display:none;}
.App {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.App > * {
    flex: 1 100%;
  }

/* Header */
header {background-color:#2196F3;  padding:0 72px; height:56px;}
header h1{color:#fff; font-size:20px}

/* Form Name section */
#form-name-section {border-bottom:1px solid #D5D5D5; line-height: 96px; background-color: #fff; padding:0 72px}
#form-name { font-size:24px; border:0 none; margin:0 }

/* Edit mode */
.field {background:#fff; border:1px solid #D5D5D5; padding:30px}
.field input {border:0 none; border-bottom:1px solid #D5D5D5; height:40px; width:100%}
.add-button button {border:0 none; background:none; font-size:20px; position: absolute; right:0}
.remove button{border:0 none; background:none;}
.editable-functions { text-align:right; padding:10px 0;}
.editable-functions div.type  {float:left; }
.editable-functions .float-right {float:right;}
.editable-functions .float-right div{  display:inline-block; padding:0 10px}


/* toggle switch */
.required {  width:45px; border-right:1px solid #ddd;position: relative; }
.required input[type=checkbox] {height: 0; width: 0; visibility: hidden;}
.required input:checked+label {background: #69B74A;}
.required label:active:after {width: 10px;}
.required input:checked+label:after {left: calc(100% - 5px); transform: translateX(-100%);}
.required label {
    text-align:left;
    cursor: pointer;
    text-indent: -85px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: absolute;
    top:0
}

.required label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}





.content {
    flex: 1;
    padding:0;
}

.section {margin: 0 auto; width:80%;}
.display-mode {
   position: relative;
}

.error {
    color: red;
    position:absolute;
    right:0;
}